body{
  margin: 5em;
}

ul{  
  padding: 0;
}

li{
  margin-right: 2em;
  margin-top: 1em;
}

main{
  padding-top: 2em;
}

article{
  margin-right: 20%;
}

footer{
  padding-top: 1em;
}

footer > p{
  margin: 0;
}


h1>span{
  display: block;
}

li {
  list-style-type: None;
}

footer {
  border-top: 5px;
  border-top-style: solid;
}

h1 { 
  border-bottom: 5px;
  border-bottom-style: solid;
  font-size: 4.5em
}

span {
  color: gray;
  font-style: italic;
}

nav > ul {
  border-bottom: 3px;
  border-bottom-style: solid;
  border-color: gray;
}

a {
  text-decoration: None;
  color: blue
}
  

